ul{
    text-align: left;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}


body{
    background-image: linear-gradient(#3b8782, #9198e5);
    height: fit-content;

}
h1{
    
    text-align: center;
}

div {
    width: 400px;
    padding-left: 20px;
    height: 100vh;
    background-image: linear-gradient(#9198e5, #3b8782);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }


p{
    text-align: center;
    font-size: large;
}

h2{
    text-align: center;
   } 